  <h1 class="page-header">Usuario actual</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        
        <div class="row">
          <div class="col-md-6">          
          <img src="img/usuario1.jpg" alt="Usuario" class="img-rounded">
          </div>
          <div class="col-md-6">
            <h2>Usuario</h2>
            <table class="table">
              <tr>
                <td>Apellido:</td>
                <td>Riquelme</td>                
              </tr>
              <tr>
                <td>Nombre:</td>
                <td>Juan Roman</td>                
              </tr>
            </table> 
          </div>
        </div>

      </div>
    </div>

    