<div ng-controller="entregaCtrl">
  
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

          <div ng-include="'views/menus/menuAtP.html'"></div>          
          <img id="imgSEL-Logo" ng-src="img/AdminSEL-logo-transp.png" alt="Marca" class="imgSEL img-thumbnail"> 

        </div>
         <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
         <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
         <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div class="row">
            <div class="col-xs-8 col-sm-8 placeholder"><!-- ////////////////////COLUMNA CLIENTE/////////////////////// -->
              <div class="row">
                <h1 class="page-header">Buscar Orden</h1>
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="row">

                      <div class="col-md-5">
                        <input type="text" class="form-control" ng-focus="limpiarCampos()" ng-model="ApeNom" ng-change="getOrdenApeNom()" placeholder="Nombre de Cliente"/>
                        <ul>
                          <li ng-repeat="orden in ordenes">
                            <a ng-click="actualizarApeNom(orden.apeNom, orden.id)">{{orden.apeNom}}</a>
                          </li>
                        </ul>
                     </div>

                     <div class="col-md-5">
                         <input type="text" class="form-control" ng-focus="limpiarCampos()" ng-model="OrdenNum" ng-change="getOrdenNum()" placeholder="Numero de Orden"/>
                        <ul>
                          <li ng-repeat="orden in ordenes">
                            <a ng-click="actualizarApeNom(orden.apeNom, orden.id)">{{orden.id}}</a>
                          </li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                       <button type="button" ng-disabled="!btnTraerOrden" ng-click="getTraerOrden()" class="btn btn-primary">Traer Orden</button>
                     </div>

                    </div>

                  </div>
                </div>
              </div>

               <div class="row"><!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
                <div class="col-md-6">             
                  <h1 class="page-header">Datos del cliente</h1>
                  
                    <table class="table table-hover">
                      <tr>
                        <td><strong>Numero de Orden:</strong></td>
                        <td>{{ordenEncontrada.id}}</td>                                  
                      </tr>
                      <tr>
                        <td><strong>Nombre y Apellido:</strong> </td>
                        <td>{{ordenEncontrada.apeNom}} </td>                                  
                      </tr>
                       <tr>
                        <td><strong>Numero de Telefono:</strong> </td>
                        <td>{{ordenEncontrada.telefono}}</td>                                  
                      </tr>
                    </table>

                </div>
                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <div class="col-md-6">                         
                  <h1 class="page-header">Presupuesto</h1>
                  <table class="table table-hover">
                    <tr>
                      <td><strong>Cantidad de Equipos:</strong></td>
                      <td>{{cantEquipo}}</td>                                  
                    </tr>
                    <tr>
                      <td><strong>Importe Total a Pagar:</strong></td>
                      <td>{{importeTotal}} </td>                                  
                    </tr>
                  </table>

                </div>
              </div><!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
              <div class="panel panel-default">
                <div class="panel-body">
                                    
                   <strong>Observacion:</strong> {{ordenEncontrada.observacion}}
                  
                </div>
              </div>
              <h1 class="sub-header">Detalle del trabajo</h1>

              <div class="table-responsive">
                <table class="table table-striped" name="tablaEq" id="tablaEq">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Gama</th>
                      <th>IMEI</th>
                      <th>Presup Final</th>
                      <th>Fecha Entrega</th>
                      <th>Detalle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="equipo in equipos" directbtntablarep>
                      <td class="{{equipo.clase}}"><i class="{{equipo.icono}}"></i></td>
                      <td>{{equipo.marca}}</td>
                      <td>{{equipo.modelo}}</td>
                      <td>{{equipo.gama}}</td>                                            
                      <td>{{equipo.imei}}</td>
                      <td>{{equipo.presupFinal}}</td>
                      <td>{{equipo.fechaEntrega}}</td>                      
                      <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-xs btn-block" data-toggle="modal" data-target="#ModalDetalle" ng-click="btnDetalleEq($index)">
                        <i class="glyphicon glyphicon-list-alt"></i>                          
                        </button>
                      </td>
                      
                    </tr>
                    <!-- /////////////////////////////////////////////// -->
                    <tr>
                      <td>1</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>3</td> 
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>4</td> 
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>-</td>
                      <td>-</td> 
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>8</td> 
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                <a class="btn btn-lg {{btnImprimir.cls}}" ng-disabled="!btnImprimir.enable" href="http://localhost/UTNProgWeb2015/public/imprimirOrdenRep?idOrden={{ordenEncontrada.id}}" role="button" target="_blank">
                   <span class="{{btnImprimir.icono}}"></span> Imprimir Factura
                </a>
                </div>
              </div>


            </div><!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="col-xs-4 col-sm-4 placeholder"><!-- ////////////////////COLUMNA USUARIO/////////////////////// -->

              <div ng-include="'views/panels/panelUsuario.html'"></div>

            </div><!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->            
          </div>
          <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
          <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
          <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
          
        </div>
    </div>
 
      <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////  MODAL DETALLES  ////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Modal -->
    <div class="modal fade" id="ModalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">DETALLE DE EQUIPO</h4>
          </div>
          <div class="modal-body">

            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <div class="row"><!-- Fila que contiene IMEI, Descripcion, Imagen de marca y de modelo -->
              <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-heading">Equipo</div>
                      <div class="panel-body">
                      
                          <div class="scrollTablaDatoEqModal">
                            <table class="table table-striped" id="tablaDatoEqModalDet" name='tablaDatoEqModalDet'>
                                
                              <tbody>
                                  <tr>
                                      <td><strong>Marca:</strong></td>
                                      <td>{{detalleEQ.marca}}</td>                         
                                  </tr>                    
                                  <tr>
                                      <td><strong>Modelo:</strong></td>
                                      <td>{{detalleEQ.modelo}}</td>                         
                                  </tr>                    
                                  <tr>
                                      <td><strong>Gama:</strong></td>
                                      <td>{{detalleEQ.gama}}</td>                         
                                  </tr> 
                                  <tr>
                                    <td><strong>Imei:</strong></td>
                                    <td>{{detalleEQ.imei}} </td>
                                  </tr>                                              
                              </tbody>

                            </table>
                          </div>
                      </div>
                    </div>
                
                <p></p>

                <div class="panel panel-default">
                  <div class="panel-heading">Descripcion de la falla</div>
                  <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-body">
                        <p ng-repeat="Infor in arrayInfModal">
                            {{Infor}}
                        </p>
                    </div>
                  </div>
                  </div>
                </div>
                
                <p></p>         

              </div>
              <div class="col-md-4"><!-- ********* panel de marca y modelo********* -->
                
                <div class="panel panel-default">
                  <div class="panel-body">
                   
                    <center>                      
                      <img id="idImgMarcaModal" ng-src="img/{{imgMarcaModal}}" alt="Marca" class="imgMar img-thumbnail">                        
                    </center>           
                    <p></p>
                    <center>                      
                      <img id="idImgModeloModal" ng-src="img/{{imgModeloModal}}" alt="Modelo" class="img-thumbnail imgMod">                              
                    </center>         

                  </div>
                </div>

              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading"></div>
              <div class="panel-body">
                
                <div class="row">
                     
                  <div class="col-md-3">

                    <div class="scrollTablaModal">
                        <table class="table table-striped" id="tablaFallaModalDet" name='tablaFallaModalDet'>
                            <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Fallas</th>                                      
                              </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fallaG in arrayFallaGenModal">
                                    <td>#</td>
                                    <td>{{fallaG}}</td>                         
                                </tr>                                                
                            </tbody>
                        </table>
                    </div>            

                  </div>

                  <div class="col-md-3">

                    <div class="scrollTablaModal">
                          <table class="table table-striped" id="tablaServModalDet" name='tableServModalDet'>
                              <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Servicios</th>                                        
                                </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="serv in arrayServModal">
                                      <td>#</td>
                                      <td>{{serv}}</td>                         
                                  </tr>                                                       
                              </tbody>
                          </table>
                        </div>             

                  </div>

                  <div class="col-md-3">
                    
                    <div class="scrollTablaModal">
                          <table class="table table-striped" id="tablaRepModalDet" name='tableRepModalDet'>
                              <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Repuestos</th>                                        
                                </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="rep in arrayRepModal">
                                      <td>#</td>
                                      <td>{{rep}}</td>                         
                                  </tr>                                                       
                              </tbody>
                          </table>
                        </div>

                  </div>
                    <div class="col-md-3">
                    
                      <div class="scrollTablaModal">
                            <table class="table table-striped" id="tablaAccModalDet" name='tableAccModalDet'>
                                <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Accesorios</th>                                        
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="acc in arrayAccModal">
                                        <td>#</td>
                                        <td>{{acc}}</td>                       
                                    </tr>                                                       
                                </tbody>
                            </table>
                      </div>

                  </div>
                </div>

              </div>
            </div>
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-class="{true:'btn-success', false:''}[btnOkDet==true]" data-dismiss="modal">ok</button>            
          </div>
        </div>
      </div>
    </div>
    
</div>